<!DOCTYPE html>
	<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
	<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
	<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
	<!--[if gt IE 8]>      <html class="no-js"> <![endif]-->
<html>

	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>Arnie's Cakes</title>
		<meta name="description" content="">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<script src="./js/bootstrap.js"></script>
		<link rel="stylesheet" href="./styling/bootstrap.css">
		<link rel="stylesheet" href="./styling/flavours.css">
		<link rel="stylesheet" href="./styling/shared.css">
	</head>
	<header>
		<%- include('./addons/navbar') %>
	</header>

	<body>
		<div class="flavoursContainer container-fluid m-0 p-0">
			<div class="row flavours" id="flavours">

				<% entries.filter(e=> e.heading === "Main").forEach(({ type, text, flavours }) => { %>
					<div class="row items m-0 p-0">
						<div class="col-6 sideImagesContainer m-0 p-0">
							<div class="sideImages m-0 p-0">
								<img class="img sideImage m-0 p-0" loading="lazy"
									src="./images/flavours/<%= type %>/1.jpg" />
							</div>
							<div class="sideImages m-0 p-0">
								<img class="img sideImage m-0 p-0" loading="lazy"
									src="./images/flavours/<%= type %>/2.jpg" />
							</div>
						</div>
						<div class="col-6 itemFlavours m-0 p-0">
							<div class="col heading">
								<h2>
									<%= type %>
								</h2>
							</div>

							<% text.forEach(t=> { %>
								<div class="row textAlign m-0 p-0">
									<h4>
										<%= t %>
									</h4>
								</div>
							<% }) %>

							<div class="col heading2">
								<h3>Flavours:</h3>
							</div>

							<% flavours.forEach(f=> { %>
								<div class="row textAlign m-0 p-0">
									<h4>
										<%= f %>
									</h4>
								</div>
							<% }) %>

							<div class="row textAlign m-0 p-0">
								<h4 style="visibility:hidden">hidden</h4>
							</div>
						</div>
					</div>
				<% }) %>


				<% const subEntries=entries.filter(e=> e.heading === "Sub"); %>
					<% if (subEntries.length) { %>
						<div class="row items m-0 p-0" id="treatsItem">
							<div class="col-6 sideImagesContainer m-0 p-0" id="treats">
								<div class="sideImages m-0 p-0">
									<img class="img sideImage m-0 p-0"
										loading="lazy"
										src="./images/flavours/Treats/1.jpg" />
								</div>
								<div class="sideImages m-0 p-0">
									<img class="img sideImage m-0 p-0" 
										loading="lazy"
										src="./images/flavours/Treats/2.jpg" />
								</div>
							</div>
							<div class="col-6 itemFlavours m-0 p-0" id="itemWrapper">
								<div class="col heading" id="itemsHeading">
									<h2>Treats:</h2>
								</div>

								<% subEntries.forEach(({ type, text })=> { %>
									<% text.forEach((t, i)=> { %>
										<div class="row textAlign m-0 p-0">
											<h4>
												<%= type[i] %>: <%= t %>
											</h4>
										</div>
									<% }) %>
								<% }) %>

								<div class="row textAlign m-0 p-0">
									<h4 style="visibility:hidden">hidden</h4>
								</div>

								<div class="col heading2">
									<a href="./Enquiries">
										<h3>Order Now!</h3>
									</a>
								</div>
							</div>
						</div>
				<% } %>

			</div>
		</div>


		<div class="w-100 m-0 p-0"></div>
		<%- include('./addons/footer') %>
	</body>
	<script src="./js/shared.js"></script>
</html>